{% load static %}
<div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">

                                        <!-- best seller -->
                                        <div class="sidebar-block">
                                            <div class="title-block">Catalog</div>
                                            <div class="new-item-content">
                                                <h3 class="title-product">categories</h3>
                                                <ul class="scroll-product">
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>side table</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>floor lamp</b>
                                                            <span class="quantity">(32)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>ottoman</b>
                                                            <span class="quantity">(67)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>armchair</b>
                                                            <span class="quantity">(15)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>OTTOMAN</b>
                                                            <span class="quantity">(24)</span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>CUSHION</b>
                                                            <span class="quantity">(20)</span>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Pineapple</b>
                                                            <span class="quantity">(21)</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="new-item-content">
                                                <h3 class="title-product">Manufacture</h3>
                                                <ul class="scroll-product">
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Samsung</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Dell</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Polygon</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Newment</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Asus</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Mac</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Vaio</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a href="#">
                                                            <b>Lettuce</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tiva-filter-price new-item-content sidebar-block">
                                                <h3 class="title-product">By Price</h3>
                                                <div id="block_price_filter" class="block">
                                                    <div class="block-content">
                                                        <div id="slider-range" class="tiva-filter">
                                                            <div class="filter-itemprice-filter">
                                                                <div class="layout-slider">
                                                                    <input id="price-filter" name="price" value="0;100" />
                                                                </div>
                                                                <div class="layout-slider-settings"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sidebar-block by-color">
                                                <h3 class="title-product">By Color</h3>
                                                <div>
                                                    <span class="left">
                                                        <label class="color-item1"></label>
                                                        <a href="#">
                                                            <span>Blue
                                                                <span>(30)</span>
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <span class="right">
                                                        <label class="color-item2"></label>
                                                        <a href="#">
                                                            <span>Green
                                                                <span>(30)</span>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="left">
                                                        <label class="color-item3"></label>
                                                        <a href="#">
                                                            <span>Yellow
                                                                <span>(30)</span>
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <span class="right">
                                                        <label class="color-item4"></label>
                                                        <a href="#">
                                                            <span>Brown
                                                                <span>(30)</span>
                                                            </span>
                                                        </a>
                                                    </span>

                                                </div>
                                                <div>
                                                    <span class="left">
                                                        <label class="color-item5"></label>
                                                        <a href="#">
                                                            <span>Pink
                                                                <span>(30)</span>
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <span class="right">
                                                        <label class="color-item6"></label>
                                                        <a href="#">
                                                            <span>Red
                                                                <span>(30)</span>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- product tag -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                Product Tags
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    <li>
                                                        <a href="#" title="Show products matching tag Hot Trend">Hot Trend</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Jewelry">Jewelry</a>
                                                    </li>

                                                    <li>
                                                        <a href="man.html" title="Show products matching tag Man">Man</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Party">Party</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag SamSung">SamSung</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Shirt Dresses">Shirt Dresses</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Shoes">Shoes</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Summer">Summer</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Sweaters">Sweaters</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Winter">Winter</a>
                                                    </li>

                                                    <li>
                                                        <a href="#" title="Show products matching tag Woman">Woman</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>